@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: #ecf0f3;
}

html {
  scroll-behavior: smooth;
}

.shadow-text {
  text-shadow: 1px 1px 5px #030303;
}

div a:hover {
  text-shadow: none;
}

.shadow-text-white {
  text-shadow: 1px 1px 5px #ffffff;
}

.shadow-custom:hover {
  box-shadow: 0px 0px 10px 2px #3f3d56;
  z-index: 10;
}
